.container{
    display: flex;
    justify-content: center;
}

/*display screen*/
.history-screen{
    text-align: left;
}

.display{
    border: 1px solid;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: right;
}
/*---------------------------------------*/

.calc-case{
    width: 200px;
}


/*buttons*/
div.row{
    display: flex;
}

button{
    padding: 10px;
    flex: 1;
}

button.zero{
    flex-basis: 50px;
}
/*---------------------------------------*/

