html{
    box-sizing: border-box;
    height: 100%;
}

*{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body{
    display: flex; 
    justify-content: center;
    align-items: center;
    height: inherit;
    font-family: 'Lucida Console', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;;
    background-color: rgba(30, 56, 33, 0.768);
}

/*display screen*/
.history-screen{
    text-align: left;
}

.display{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, 0.276);
    border: 1px solid rgba(255, 255, 255, 0.743);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: #232323;
    font-size: 15px;
    font-family: inherit;
    overflow: hidden;
    padding: 20px;
    text-align: right;
    display: flex;
    flex-direction: column;
    height: 76px;
}

/*---------------------------------------*/

.calc-case{
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: #232323;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background: rgba(255, 255, 255, 0.24);
    border: 1px solid rgba(225, 255, 255, 0.34);
    flex-basis: 400px;
    height: 540px;
    padding: 20px 35px;
}


/*buttons*/


div.row{
    display: flex;
    justify-content: space-between;
    margin: 5% 0;
}

button{
    border-radius: 8px;
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, 0.461);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    height: 70px;
    width: 70px;
    color: #232323;
    flex-basis: 24%;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 15px;
    transition: all 0.3s;
}

.divide,
.multiply,
.add,
.subtract{
    transition: all 0.3s;
}

.equals{
    flex-basis: 49%;
    transition: all 0.3s;
}

.clear, .delete{
    flex-basis: 36%;
    transition: all 0.3s;
}

/*---------------------------------------*/

.cred{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 13px;
    margin-top: 30px;
    color: white;
}

a{
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
}


/*transitions------------------------------------------*/
.oper-highlight{
    background-color: rgba(134, 240, 148, 0.223);
}

.process-highlight{
    background-color: rgba(245, 40, 40, 0.325);
}

.eql-highlight{
    background-color: #e8d1c5;
}

a:hover{
    text-decoration: underline;
}

button:hover{
    transform: scale(0.97);
}

.digit:hover{
    background-color: rgba(215, 250, 217, 0.24);
}
